n8n/ziyanisa-whatsapp-workflow.json
{
  "name": "ZiyaNisa — WhatsApp Business (Meta API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "={{ [\"GET\", \"POST\"] }}",
        "path": "whatsapp_ziyanisa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "zn-webhook",
      "name": "ZiyaNisa Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 400],
      "webhookId": "whatsapp-ziyanisa-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "cond-mode",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "ziyanisa_webhook_2026",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "zn-check-verify",
      "name": "Check Webhook Verify",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-1360, 260]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": { "responseCode": 200 }
      },
      "id": "zn-verify-ok",
      "name": "Verify Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-1136, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-msg",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "zn-filter-msgs",
      "name": "Filter Messages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-1360, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-phone-id",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "rightValue": "={{ $env.ZIYANISA_PHONE_NUMBER_ID }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "zn-check-phone-id",
      "name": "Is ZiyaNisa Number?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-1136, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "v-from", "name": "from", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}", "type": "string" },
            { "id": "v-msg-type", "name": "message_type", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}", "type": "string" },
            { "id": "v-msg-body", "name": "message_body", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text?.body ?? '' }}", "type": "string" },
            { "id": "v-phone-id", "name": "phone_number_id", "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}", "type": "string" },
            { "id": "v-msg-id", "name": "message_id", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].id }}", "type": "string" },
            { "id": "v-customer-name", "name": "customer_name", "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name ?? 'there' }}", "type": "string" },
            { "id": "v-interactive-type", "name": "interactive_type", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive?.type ?? '' }}", "type": "string" },
            { "id": "v-btn-id", "name": "button_reply_id", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive?.button_reply?.id ?? '' }}", "type": "string" },
            { "id": "v-btn-title", "name": "button_reply_title", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive?.button_reply?.title ?? '' }}", "type": "string" },
            { "id": "v-list-id", "name": "list_reply_id", "value": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive?.list_reply?.id ?? '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "zn-parse",
      "name": "Parse Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-912, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"messaging_product\": \"whatsapp\", \"status\": \"read\", \"message_id\": \"{{ $json.message_id }}\" }",
        "options": {}
      },
      "id": "zn-mark-read",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-688, 480],
      "credentials": { "httpHeaderAuth": { "id": "atbyjLJl0owsnm0w", "name": "Header Auth account" } },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "c-text", "leftValue": "={{ $json.message_type }}", "rightValue": "text", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Text"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "c-interactive", "leftValue": "={{ $json.message_type }}", "rightValue": "interactive", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Interactive"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "zn-msg-type-router",
      "name": "Message Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-464, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "v-reply-id", "name": "reply_id", "value": "={{ $json.button_reply_id || $json.list_reply_id }}", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "zn-set-reply",
      "name": "Set Reply ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-240, 320]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "id": "r-shop", "leftValue": "={{ $json.reply_id }}", "rightValue": "zn_shop", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Shop"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "id": "r-book", "leftValue": "={{ $json.reply_id }}", "rightValue": "zn_book", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Book"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "id": "r-track", "leftValue": "={{ $json.reply_id }}", "rightValue": "zn_track", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Track"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [{ "id": "r-support", "leftValue": "={{ $json.reply_id }}", "rightValue": "zn_support", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Support"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "zn-interactive-router",
      "name": "Button Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-16, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZIYANISA_API_URL }}/chat/session/{{ $('Parse Variables').item.json.from }}",
        "options": {}
      },
      "id": "zn-get-session",
      "name": "Get Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 600],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Decide whether this text message is an address, order ID, or a chat message\nconst msg = $('Parse Variables').first().json.message_body || '';\nconst msgLower = msg.toLowerCase();\n\n// Check if it looks like an order ID\nconst isOrderId = /ord[-]?\\w{4,}/i.test(msg);\n\n// Check if it looks like a delivery address (has numbers + city/state keywords)\nconst hasNumbers = /\\d{3,}/.test(msg);\nconst addressKeywords = ['pincode', 'flat', 'house', 'road', 'street', 'nagar', 'colony', 'layout', 'hyderabad', 'bangalore', 'mumbai', 'delhi', 'chennai', 'pune', 'kolkata'];\nconst hasAddressKw = addressKeywords.some(k => msgLower.includes(k));\nconst isPossibleAddress = msg.length > 20 && hasNumbers && hasAddressKw;\n\nreturn [{ json: { is_order_id: isOrderId, is_address: isPossibleAddress, pass_to_ai: true } }];"
      },
      "id": "zn-classify-text",
      "name": "Classify Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 720]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZIYANISA_API_URL }}/chat/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"{{ $('Parse Variables').item.json.message_body }}\", \"phone\": \"{{ $('Parse Variables').item.json.from }}\" }",
        "options": {}
      },
      "id": "zn-get-context",
      "name": "Get ZiyaNisa Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 600],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 280,\n  \"system\": \"You are Nisa, the friendly WhatsApp assistant for ZiyaNisa — an Indian beauty and lifestyle brand offering skincare, haircare, makeup, fragrances, jewellery, and at-home salon services.\\n\\nYour personality: warm, helpful, like a knowledgeable beauty advisor friend.\\nYour rules:\\n- Keep responses under 120 words\\n- Use simple language, avoid jargon\\n- Use 1-2 emojis max per message\\n- Never mention competitor brands\\n- For product queries: mention 1-2 relevant items with price\\n- For service booking: share https://ziyanisa.com/services\\n- For shop browsing: share https://ziyanisa.com/shop\\n- For order tracking: ask them to share their order ID\\n- For payment issues: ask them to share their UPI reference number\\n- Sign off as: — *Nisa, ZiyaNisa* 💜\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer name: {{ $('Parse Variables').item.json.customer_name }}\\nMessage: {{ $('Parse Variables').item.json.message_body }}\\n\\nProduct/service context from database:\\n{{ JSON.stringify($('Get ZiyaNisa Context').item.json) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "zn-claude-ai",
      "name": "Claude AI (Nisa)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [432, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Parse Variables').item.json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Parse Variables').item.json.from }}\",\n  \"type\": \"text\",\n  \"text\": { \"preview_url\": false, \"body\": \"{{ $json.content[0].text }}\" }\n}",
        "options": {}
      },
      "id": "zn-send-ai-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [656, 600],
      "credentials": { "httpHeaderAuth": { "id": "atbyjLJl0owsnm0w", "name": "Header Auth account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Parse Variables').item.json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Parse Variables').item.json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": { \"type\": \"text\", \"text\": \"✨ Welcome to ZiyaNisa!\" },\n    \"body\": { \"text\": \"Hi {{ $('Parse Variables').item.json.customer_name }}! 👋\\n\\nI'm Nisa, your beauty advisor. How can I help you today?\" },\n    \"footer\": { \"text\": \"ZiyaNisa — Beauty & Lifestyle\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"zn_shop\", \"title\": \"🛍️ Shop Products\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"zn_book\", \"title\": \"💆 Book Service\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"zn_track\", \"title\": \"📦 Track Order\" } }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "zn-send-welcome",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 320],
      "credentials": { "httpHeaderAuth": { "id": "atbyjLJl0owsnm0w", "name": "Header Auth account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Parse Variables').item.json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Parse Variables').item.json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": true,\n    \"body\": \"🛍️ *Browse ZiyaNisa Products*\\n\\nExplore our full range of skincare, haircare, makeup, fragrances & jewellery:\\n\\nhttps://ziyanisa.com/shop\\n\\nOr tell me what you're looking for and I'll help you pick the right product! 💜\\n\\n— *Nisa, ZiyaNisa*\"\n  }\n}",
        "options": {}
      },
      "id": "zn-shop-msg",
      "name": "Shop Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 160],
      "credentials": { "httpHeaderAuth": { "id": "atbyjLJl0owsnm0w", "name": "Header Auth account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Parse Variables').item.json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Parse Variables').item.json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": true,\n    \"body\": \"💆 *Book an At-Home Beauty Service*\\n\\nFrom facials to bridal packages — our certified professionals come to you!\\n\\nBook here: https://ziyanisa.com/services\\n\\nServices available: Facial, Cleanup, Threading, Waxing, Mehndi, Bridal Makeup & more ✨\\n\\n— *Nisa, ZiyaNisa*\"\n  }\n}",
        "options": {}
      },
      "id": "zn-book-msg",
      "name": "Book Service Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 48],
      "credentials": { "httpHeaderAuth": { "id": "atbyjLJl0owsnm0w", "name": "Header Auth account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Parse Variables').item.json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Parse Variables').item.json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"📦 *Track Your ZiyaNisa Order*\\n\\nPlease share your *Order ID* (starts with ORD-) and I'll check it for you right away!\\n\\nYou can also log in at https://ziyanisa.com/account to view all your orders.\\n\\n— *Nisa, ZiyaNisa* 💜\"\n  }\n}",
        "options": {}
      },
      "id": "zn-track-msg",
      "name": "Track Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, -80],
      "credentials": { "httpHeaderAuth": { "id": "atbyjLJl0owsnm0w", "name": "Header Auth account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": { "responseCode": 200 }
      },
      "id": "zn-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 480]
    }
  ],
  "connections": {
    "ZiyaNisa Webhook": {
      "main": [
        [{ "node": "Check Webhook Verify", "type": "main", "index": 0 }],
        [{ "node": "Filter Messages", "type": "main", "index": 0 }]
      ]
    },
    "Check Webhook Verify": {
      "main": [
        [{ "node": "Verify Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Filter Messages": {
      "main": [
        [{ "node": "Is ZiyaNisa Number?", "type": "main", "index": 0 }]
      ]
    },
    "Is ZiyaNisa Number?": {
      "main": [
        [{ "node": "Parse Variables", "type": "main", "index": 0 }]
      ]
    },
    "Parse Variables": {
      "main": [
        [
          { "node": "Mark as Read", "type": "main", "index": 0 },
          { "node": "Message Type Router", "type": "main", "index": 0 }
        ]
      ]
    },
    "Message Type Router": {
      "main": [
        [{ "node": "Get Session", "type": "main", "index": 0 }, { "node": "Classify Text", "type": "main", "index": 0 }],
        [{ "node": "Set Reply ID", "type": "main", "index": 0 }],
        [{ "node": "Send Welcome", "type": "main", "index": 0 }]
      ]
    },
    "Set Reply ID": {
      "main": [
        [{ "node": "Button Router", "type": "main", "index": 0 }]
      ]
    },
    "Button Router": {
      "main": [
        [{ "node": "Shop Link", "type": "main", "index": 0 }],
        [{ "node": "Book Service Link", "type": "main", "index": 0 }],
        [{ "node": "Track Order", "type": "main", "index": 0 }],
        [{ "node": "Get ZiyaNisa Context", "type": "main", "index": 0 }],
        [{ "node": "Send Welcome", "type": "main", "index": 0 }]
      ]
    },
    "Classify Text": {
      "main": [
        [{ "node": "Get ZiyaNisa Context", "type": "main", "index": 0 }]
      ]
    },
    "Get ZiyaNisa Context": {
      "main": [
        [{ "node": "Claude AI (Nisa)", "type": "main", "index": 0 }]
      ]
    },
    "Claude AI (Nisa)": {
      "main": [
        [{ "node": "Send AI Reply", "type": "main", "index": 0 }]
      ]
    },
    "Send AI Reply": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    },
    "Shop Link": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Book Service Link": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Track Order": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Send Welcome": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "ziyanisa-meta-v2",
  "id": "ziyanisa-whatsapp-meta",
  "meta": {
    "templateCredsSetupCompleted": false,
    "notes": "ZiyaNisa WhatsApp via Meta Business API. Filters by ZIYANISA_PHONE_NUMBER_ID so it runs fully isolated from other businesses on the same WABA. All customer-facing branding is ZiyaNisa only."
  }
}
